<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://ipa.ipasign.cc:2052/sign/20250209131904131/5b54cef2-2c95-fe50-2397-48994579d297/resign_20250209131904131.ipa</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.mobile.legends</string>
<key>bundle-version</key>
<string>1.9.42</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>Mobile Legends: Bang Bang</string>
</dict>
</dict>
</array>
</dict>
</plist>
